Extras
_default_tmp.png
extras_index

<h1 class="tl-content__main-heading">Extras</h1>
<p>Welcome to the <em>extras</em> section of this website, where additional content related to the franchises covered by
timelines is stored. Each extra is available under a category representing the franchise it refers to.</p>
<p>If you need help on how to browse or how to read the extras, feel free to refer to the Help section in the navigation
bar above.</p>
<h2>What are Extras?</h2>
<p>Extras are additional pieces of content that are not directly related to timelines, but complement them. Examples
might be <em>100% completion checklists</em> or <em>guides</em> on how to proceed in certain games.</p>
<h2>All Extras</h2>
<h3>Gaming Franchises</h3>
<div class="tl-extras-index-content">
    <div class="tl-extras-index-content-row">
        <p class="tl-extras-index-content__game">Grand Theft Auto</p>
        <div class="tl-extras-index-content__extras-list">
            <ul>
                <li>
                    <a href="{{ url /extras/video_game/grand_theft_auto/iii_100_checklist.html }}">
                        Grand Theft Auto III - 100% Completion Checklist
                    </a>
                </li>
                <li>
                    <a href="{{ url /extras/video_game/grand_theft_auto/vc_100_checklist.html }}">
                        Grand Theft Auto: Vice City - 100% Completion Checklist
                    </a>
                </li>
                <li>
                    <a href="{{ url /extras/video_game/grand_theft_auto/sa_100_checklist.html }}">
                        Grand Theft Auto: San Andreas - 100% Completion Checklist
                    </a>
                </li>
                <li>
                    <a href="{{ url /extras/video_game/grand_theft_auto/ttdisa_100_checklist.html }}">
                        Grand Theft Auto: San Andreas - 100% Completion Checklist (TTDISA Version)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
