Timelines
_default_tmp.png


<h1 class="tl-content__main-heading">Timelines</h1>
<p>Welcome to the <em>timeline</em> section of this website, probably the most important one of this website. Here, all
timelines related to the various tracked franchises, be those of games or other media, are stored. The various timelines
are split into categories depending on which type of franchise they cover. Entries in each category are sorted in
alphabetical order to ease searching.</p>
<p>If you need help on how to browse or how to read the timelines, feel free to refer to the Help section in the
navigation bar above.</p>
<h2>What is a Timeline?</h2>
<p>The term <strong>timeline</strong> is used to refer to a list of <em>all</em> media that has been released regarding
a particular franchise in <strong>Release Order</strong>. The media that is categorized is made up of games, movies,
comics, novels, board games, and any other form of trackable content.</p>
<p>Each timeline can be browsed in release order, but some may also have additional options, such as chronological order
based on the story. This mainly applies to the ones where the information is either available officially or can be
inferred from in-universe events.</p>
<h2>All Timelines</h2>
<h3>Media Mix Franchises</h3>
<ul>
    <li><a href="{{ url /timelines/media_mix/engage.html }}">Engage</a> (エンゲージ, also known as "Project Engage")</li>
    <li><a href="{{ url /timelines/media_mix/synduality.html }}">Synduality</a> (also known as "Project SYN")</li>
</ul>
<h3>Video Game Franchises</h3>
<ul>
    <li><a href="{{ url /timelines/video_game/assassins_creed.html }}">Assassin's Creed</a></li>
    <li><a href="{{ url /timelines/video_game/biohazard.html }}">Biohazard</a> (バイオハザード, also known as "Resident Evil")</li>
    <li><a href="{{ url /timelines/video_game/grand_theft_auto.html }}">Grand Theft Auto</a></li>
    <li><a href="{{ url /timelines/video_game/like_a_dragon.html }}">Like a Dragon</a> (龍が如く, also known as "Yakuza")</li>
    <li><a href="{{ url /timelines/video_game/need_for_speed.html }}">Need for Speed</a></li>
    <li><a href="{{ url /timelines/video_game/silent_hill.html }}">Silent Hill</a> (サイレントヒル)</li>
    <li><a href="{{ url /timelines/video_game/spyro.html }}">Spyro</a></li>
    <li><a href="{{ url /timelines/video_game/tomb_raider.html }}">Tomb Raider</a></li>
    <li><a href="{{ url /timelines/video_game/zero.html }}">Zero</a> (零, also known as "Fatal Frame")</li>
</ul>
