.tl-100-checklist-content__toc {
    margin-bottom: 1em;
}

.tl-100-checklist-content__toc--container {
    display: inline-block;
    border-collapse: collapse;
    border-color: rgba(169, 169, 169, 1.0);
    border-width: 2px;
    border-style: ridge;
    padding: 0.686em;
}

.tl-100-checklist-content__toc--heading {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.tl-100-checklist-content__toc--heading > * {
    flex-shrink: 0;
}

.tl-100-checklist-content__toc--heading-text {
    margin-top: 0.4em;
}

.tl-100-checklist-content__toc--hide-show {
    font-size: 0.659em;
    cursor: pointer;
    text-color: rgba(15, 51, 94, 1.0);
    padding-left: 0.3em;
}

.tl-100-checklist-content__toc--hide-show:hover {
    text-decoration: underline;
}

.tl-100-checklist__extra-checkboxes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tl-100-checklist__extra-checkboxes > * {
    flex-shrink: 0;
}

.tl-100-checklist__extra-checkboxes--area {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-collapse: collapse;
    border-color: rgba(169, 169, 169, 1.0);
    border-width: 2px;
    border-style: ridge;
    padding: 0.686em;
}

tl-100-checklist__extra-checkboxes--area > * {
    flex-shrink: 0;
}

.tl-100-checklist-content__checklist > h2 {
    font-size: 1.5em;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.tl-100-checklist-content__checklist > h3 {
    font-size: 1.35em;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.tl-100-checklist-content__checklist > h4 {
    font-size: 1.2em;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.tl-100-checklist__list {
    display: block;
    margin-bottom: 0.8em;
}

.tl-100-checklist__list[data-list-type="single"] > .tl-100-checklist__list-entry {
    display: block;
}

.tl-100-checklist__list-entry > input[type="checkbox"] {
    padding-right: 0.1em;
}

.tl-100-checklist__list[data-list-type="multi"] > .tl-100-checklist__multi--space-request {
    content: "";
    padding-right: 0.6em;
}

.tl-100-checklist__entry {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    max-width: 97%;
    margin-bottom: 0.1em;
}

.tl-100-checklist__entry > * {
    flex-shrink: 0;
}

.tl-100-checklist__entry--name {
    margin-bottom: 0.1em;
}

.tl-100-checklist__extra {
    display: block;
    font-size: 0.75em;
    padding-left: 0.1em;
}

.tl-100-checklist__extra[data-extra-type="info"], .tl-100-checklist__extra--ask-type-render[data-ask="info"] {
    font-style: italic;
}

.tl-100-checklist__extra[data-extra-type="warn"], .tl-100-checklist__extra--ask-type-render[data-ask="warn"] {
    background-color: rgba(255, 250, 160, 1);
    font-weight: bold;
    font-size: 0.79em;
    border-color: rgba(255, 230, 140, 1);
    border-width: 2px;
    border-style: solid;
    border-radius: 0.2em;
}

.tl-100-checklist__extra[data-extra-type="warn"]:before, .tl-100-checklist__extra--ask-type-render[data-ask="warn"]:before {
    content: "WARNING: "
}

.tl-js-100-checklist__toc--hidden {
    display: none;
}

.tl-js-100-checklist__toc-hide-show--hidden {
    display: none;
}

.tl-js-100-checklist__extra--hidden {
    display: none;
}
