.tl-extras-index-content {
    display: flex;
    flex-direction: column;
}

.tl-extras-index-content > * {
    flex-shrink: 0;
}

.tl-extras-index-content-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid rgba(128, 128, 128, 1);
}

.tl-extras-index-content-row:last-child {
    border-bottom: 0px;
}

.tl-extras-index-content-row > * {
    flex-shrink: 0;
}

.tl-extras-index-content__game {
    padding-left: 0.786em;
    padding-right: 0.3em;
    font-weight: bold;
}

.tl-extras-index-content__extras-list {
    padding-right: 0.786em;
    padding-left: 0.3em;
    flex-grow: 1;
}

.tl-extras-index-content__extras-list > ul {
    padding-left: 0.875em;
}

.tl-extras-index-content__extras-list > ul > li {
    list-style-type: none;
}
