.tl-document {
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    height: 100%;
    min-height: 100%;
}

.tl-layout {
    margin: 0px;
    width: 100%;
    min-height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.tl-layout > * {
    flex-shrink: 0;
}

.tl-layout-grow {
    flex-grow: 1;
}

.tl-layout__header {
    display: flex;
    flex-direction: row;
    background-color: rgba(137, 0, 158, 1);
    width: 100%;
    min-height: 64px;
    align-items: center;
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.5);
    color: rgba(240, 240, 240, 1);
}

.tl-layout__header > * {
    flex-shrink: 0;
}

.tl-layout__header > .tl-layout__header--title {
    font-size: 1.9675em;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 1px;
}

.tl-layout__header > .tl-layout__header--title > .tl-layout__header--link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.tl-layout__header > .tl-layout__navbar {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.tl-layout__header > .tl-layout__navbar > * {
    flex-shrink: 0;
}

.tl-navbar > .tl-navbar__link {
    padding: 0 24px 0 24px;
    cursor: pointer;
    color: rgba(240, 240, 240, 1);
    text-decoration: none;
}

.tl-layout__main {
    flex-grow: 1;
}

.tl-layout__content {
    width: 80%;
    margin: 20vh auto 0px auto;
    border-radius: 10px;
    background-color: rgba(240, 240, 240, 1);
    color: rgba(15, 15, 15, 1);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.tl-content {
    padding: 1vh 1vw;
}

.tl-content .tl-content__main-heading {
    font-size: 2em;
    text-align: center;
}

.tl-layout__footer {
    background-color: rgba(128, 128, 128, 1);
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.tl-layout__footer > * {
    flex-shrink: 0;
}

.tl-layout__footer .tl-layout__footer--cc {
    padding-left: 10px;
}

.tl-layout__footer .tl-layout__footer--gl {
    padding-right: 10px;
}
