.tl-timeline-content__timeline {
    padding-bottom: 1em;
}

.tl-timeline {
    width: 100%;
    border-collapse: collapse;
    border-color: rgba(15, 15, 15, 0.5);
    border-width: 2px;
    border-style: ridge;
}

.tl-timeline__filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5%;
}

.tl-timeline__filters > * {
    flex-shrink: 0;
}

.tl-timeline__filters .tl-timeline__filter {
    display: flex;
    flex-direction: column;
    margin: 0.5%;
}

.tl-timeline__filters .tl-timeline__filter > * {
    flex-shrink: 0;
}

.tl-timeline__filters .tl-timeline__filter .tl-timeline__filter--name {
    display: block;
    font-weight: bold;
}

.tl-timeline .tl-timeline__headers .tl-timeline__cell {
    text-align: left;
}

.tl-timeline .tl-timeline__cell {
    padding: 0.5% 0.3rem;
    border-color: rgba(15, 15, 15, 0.35);
    border-style: solid;
    border-width: 1px 0px;
}

.tl-timeline .tl-timeline__platform--image {
    max-width: calc(3 * 1.5em);
    max-height: 1.5em;
    padding-left: 2px;
    padding-right: 2px;
/*
    TODO("Figure out backgrounds")
    background-color: white;
    border-radius: 5px;
*/
}

.tl-timeline .tl-timeline__platform--greyscale-image {
    filter: grayscale(1);
}

.tl-timeline .tl-timeline__extra--image {
    max-width: 1.5em;
    max-height: 1.5em;
    cursor: pointer;
    border-width: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.tl-timeline .tl-timeline__extra--link {
    color: inherit;
}

.tl-timeline .tl-js-timeline__entry--filtered-out {
    display: none;
}

/* TODO: Here just in case */
.tl-timeline .tl-timeline__cell--even {
}

.tl-timeline .tl-timeline__cell--odd {
}

.tl-timeline .tl-timeline__entry--mandatory {
}

/* === TIMELINE COLUMN SPECIFIER SPECIAL STUFF BEGIN === */
.tl-timeline .tl-timeline__col.tl-timeline__entry-number {
    width: 2em;
}

.tl-timeline .tl-timeline__col.tl-timeline__entry-title {
    /*width: 30%;*/
}

.tl-timeline .tl-timeline__col.tl-timeline__entry-date {
    width: 8%;
}

.tl-timeline .tl-timeline__col.tl-timeline__entry-platform {
    width: calc(5 * 1.5em);
}

.tl-timeline .tl-timeline__col.tl-timeline__entry-notes {
    width: 5em;
}

.tl-timeline .tl-timeline__cell.tl-timeline__cell--entry.tl-timeline__entry-platform {
    text-align: center;
}

.tl-timeline .tl-timeline__cell.tl-timeline__cell--entry.tl-timeline__entry-notes {
    font-size: 0.85em;
}

/* === TIMELINE DATA TYPES BEGIN === */
.tl-timeline .tl-timeline__entry[data-type="board_game"] .tl-timeline__cell {
    background-color: rgba(218, 184, 136, 1);
}

.tl-timeline .tl-timeline__entry[data-type="comic"] .tl-timeline__cell {
    background-color: rgba(255, 250, 160, 1);
}

.tl-timeline .tl-timeline__entry[data-type="documentary"] .tl-timeline__cell {
    background-color: rgba(185, 161, 224, 1);
}

.tl-timeline .tl-timeline__entry[data-type="gambling_game"] .tl-timeline__cell {
    background-color: rgba(186, 186, 186, 1);
}

.tl-timeline .tl-timeline__entry[data-type="movie"] .tl-timeline__cell {
    background-color: rgba(167, 199, 231, 1);
}

.tl-timeline .tl-timeline__entry[data-type="novel"] .tl-timeline__cell {
    background-color: rgba(193, 225, 193, 1);
}

.tl-timeline .tl-timeline__entry[data-type="play"] .tl-timeline__cell {
    background-color: rgba(255, 178, 226, 1);
}

.tl-timeline .tl-timeline__entry[data-type="radio_play"] .tl-timeline__cell {
    background-color: rgba(178, 243, 243, 1);
}

.tl-timeline .tl-timeline__entry[data-type="short"] .tl-timeline__cell {
    background-color: rgba(248, 200, 220, 1);
}

.tl-timeline .tl-timeline__entry[data-type="tv_series"] .tl-timeline__cell {
    background-color: rgba(250, 160, 160, 1);
}

.tl-timeline .tl-timeline__entry[data-type="video_game"] .tl-timeline__cell {
    background-color: rgba(250, 200, 152, 1);
}
