Home Page
_default_tmp.png


<h1 class="tl-content__main-heading">The Timelines Project</h1>
<p>Hello and welcome to <strong>Timelines</strong>, a website dedicated to timelines for various beloved franchises,
with some extra sprinkles on top in the form of <em>extras</em>. This website is an ongoing effort, with new ones
timelines getting added and already existing ones getting more and more polished as time goes on.</p>
<p>The end goal for this website is to become the source of the most up-to-date information on what media is available
for all tracked franchises, be those games or movies or something else. Moreover, the tracked media will be sorted based
on its release date. Additional orders (such as chronological) will also be provided, if possible.</p>
<h2>The Content</h2>
<p>The content hosted on this website is made up of <em>timelines</em> and <em>extras</em>. Both of these are available
under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons BY-SA 4.0</a> license and can be
contributed to freely through the <a href="https://gitlab.com/TheSilkMiner/timelines">GitLab repository</a> of this
website.</p>
<h3>What is a Timeline?</h3>
<p>The term <strong>timeline</strong> is used to refer to a list of <em>all</em> media that has been released regarding
a particular franchise in <strong>Release Order</strong>. The media that is categorized is made up of games, movies,
comics, novels, board games, and any other form of trackable content.</p>
<p>Each timeline can be browsed in release order, but some may also have additional options, such as chronological order
based on the story. This mainly applies to the ones where the information is either available officially or can be
inferred from in-universe events.</p>
<p>A list of all timelines is available <a href="{{ url /timelines/index.html }}">here</a> or via the link in the
navigation bar up top. If in doubt, refer to the <a href="{{ url /help/index.html }}">Help</a> section.</p>
<h3>What are the Extras?</h3>
<p>Extras are additional pieces of content that are not directly related to timelines, but complement them. Examples
might be <em>100% completion checklists</em> or <em>guides</em> on how to proceed in certain games.</p>
<p>Much like timelines, these keep getting added and can be browsed either via the dedicated
<a href="{{ url /extras/index.html }}">Extras</a> menu either here or in the navigation bar, or via the links that are
directly available in the table row for the specific timeline entry. <a href="{{ url /help/index.html }}">Help</a> is
also available in its section.</p>
<hr />
<h2>A message</h2>
<p style="font-style:italic;">Uhm, hello, TheSilkMiner here, although you probably know me more under the name Silk. I
wanted to let you all know that this is the first time I am doing something like this, so dealing with GitLab Pages,
writing a Static Site Generator, setting up the layout of a website... basically everything is new for me. For this
reason, I want to <strong>apologize</strong> in advance if the website is rough around the edges and is not yet fully
functional. I am trying my best, and if you want to help, please feel free to jump on board. In the meantime, thank you
all so much for taking a look at this project, and I hope you will appreciate what you see.</p>
<p style="font-style:italic;">Also, a huge shout-out to the website that inspired me to take on this endeavor:
<a href="https://alltimelines.com/">All Timelines</a>, formerly known as <a href="https://mythbank.com/">MythBank</a>.
Definitely go check them out, they have a website that is full of timelines, while their sister project deals with old
mythology. The goals of the two websites are fundamentally different, as I want to focus more on release order rather
than pure chronological order, but I would be remiss not to mention them as a thank you.</p>
<hr />
